
.settings {
  width: 100%;
  height: 100vh;
  background: #111b21;
  color: white;
}

.settings-header {
  background: #202c33;
  padding: 20px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px;
  border-bottom: 1px solid #2f3b43;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #00a884;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.setting-item {
  padding: 18px 25px;
  border-bottom: 1px solid #2f3b43;
}
