.settings {
  width: 100%;
  height: 100vh;
  background: #111b21;
  color: white;
}

.settings-header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  background: #202c33;
  padding: 20px;
}

.back-btn {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px;
  border-bottom: 1px solid #2f3b43;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #00a884;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.setting-item {
  padding: 18px 25px;
  border-bottom: 1px solid #2f3b43;
}

.setting-item:hover {
  background: #202c33;
}

.logout {
  color: #ff5b5b;
}

.logout-card {
  color: wheat;
  background-color: #0a352b;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15%;
  left: 25%;
}

.logout-details {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  width: 90%;
  height: 90%;
  gap: 10px;
}

.logout-button {
  color: black;
  background-color: wheat;
}

.cancel-button {
  color: wheat;
  background: unset;
  border: 2px solid;
}
