*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
}

.app{
  display:flex;
  height:100vh;
}

/* SIDEBAR */

.sidebar{
  width:30%;
  background:#202c33;
  color:white;
}

.profile-header{
  display: grid;
  grid-template-columns: 4fr 1fr;
  background:#111b21;

}

.app-name{
  background:#111b21;
  padding:20px;
  font-size:22px;
}

.setting-icon{
  padding:20px;
  font-size:10px;
}

.search-box{
  padding:10px;
}

.search-box input{
  width:100%;
  padding:10px;
  border:none;
  border-radius:20px;
}

.chat-item{
  display:flex;
  gap:15px;
  padding:15px;
  cursor:pointer;
  border-bottom:1px solid #2f3b43;
}

.chat-item:hover{
  background:#2a3942;
}

.profile-img{
  width:45px;
  height:45px;
  border-radius:50%;
  background:#00a884;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-weight:bold;
}

/* CHAT AREA */

.chat-section{
  flex:1;
  display:flex;
  flex-direction:column;
  background:#efeae2;
}

.chat-header{
  height:70px;
  background:#202c33;
  color:white;
  display:flex;
  align-items:center;
  padding:15px;
}

.header-left{
  display:flex;
  gap:10px;
  align-items:center;
}

.messages{
  flex:1;
  padding:20px;
}

.message{
  padding:10px 15px;
  border-radius:8px;
  margin:10px 0;
  width:fit-content;
}

.received{
  background:white;
}

.sent{
  background:#d9fdd3;
  margin-left:auto;
}

/* INPUT */

.input-area{
  background:white;
  padding:10px;
  display:flex;
}

.input-area input{
  flex:1;
  padding:10px;
}

.input-area button{
  margin-left:10px;
  padding:10px 20px;
  background:#00a884;
  color:white;
  border:none;
}